@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #fff;
    --secondary-color: #333;
    --main-color: rgb(232, 9, 248);
    --main-second:#00abf0;
}

.dark-mode {
    --primary-color: #0b061f;
    --secondary-color: #fff;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {

    background: var(--primary-color);
    color: var(--secondary-color);
    max-width: 1450px;
}


/* --------header style---------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);

}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 500;
    margin-right: 3.5rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}


.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--primary-color);
}



.toggle {
    display: flex;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 3.5s;

}

.toggle .toggle_icon {
    font-size: 2.2rem;
    color: var(--primary-color);
    padding-bottom: .4rem;

}


.icons {
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    left: 93%;
}

#check {
    display: none;
}


/* -------Home Style--------- */

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 6rem 7% 0;

}

.home .home_content {
    max-width: 44rem;

}

.home_content h3 {
    font-size: 2.4rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding-left: .7rem;
    padding-bottom: .5rem;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
    color: var(--main-second);
   
}


.home_content h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 1px;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home_content h2{
    font-size: 3.7rem;
    font-weight: 600;
    margin-bottom: 3px;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background: transparent;
  

}

.home_content p {
    font-size: 2rem;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    font-weight: 500;
}

.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-size: 2rem;
    color: var(--main-color);
    text-decoration: none;
    margin: 2rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.social_media a:hover {
    background: var(--main-color);
    color: var(--primary-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    border-radius: 6px;
    border: 2px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    font-size: 16px;
    color: var(--primary-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 700;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}


.home .profession_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    overflow: hidden;
}

.profession_container .profession_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: yellowgreen; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards, professionRotate 13s ease-out infinite;
    animation-delay: 2s .5s;
}

.profession_box .profession {
    position: absolute;
    left: 0;
    transform-origin: 384px;
    transform: rotate(calc(360deg / 4 * var(--i)));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    background: var(--primary-color);
    padding: 1.3rem 0;

}

.profession_box .profession:nth-child(1) i {
    margin-right: 1.2rem;
}

.profession_box .profession:nth-child(2) {
    padding-bottom: 2rem;
}

.profession_box .profession:nth-child(4) {
    padding-bottom: 2rem;
}


.profession i {
    font-size: 3.6rem;
}

.profession h3 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;

}

.circle {
    width: 72%;
    height: 72%;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.profession_container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;

}

.home_img img {
    position: absolute;
    bottom: -2.8rem;
    right: 1%;
    width: 30%;
    pointer-events: none;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2.8s;

}


/* ----------@keyframe Animation-------- */

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes professionRotate {

    0%,
    20% {
        transform: rotate(0deg)
    }

    25%,
    45% {
        transform: rotate(-90deg)
    }

    50%,
    70% {
        transform: rotate(-180deg)
    }

    75%,
    95% {
        transform: rotate(-270deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}



/* ------BREAKPOINS------- */

@media screen and (max-width:1450px) {

    .home_img img {

        position: absolute;
        bottom: 11.8%;
        right: 1%;
        width: 32%;
        pointer-events: none;

    }

}


@media screen and (max-width:1400px) {


    html {
        font-size: 60%;
    }


    .home .profession_container {
        height: 85.8rem;
    }

    .home .profession_container .profession_box {
        right: -5rem;
        height: 80rem;
    }

    .home_img img {

        position: absolute;
        bottom: 11.8%;
        right: 0;
        width: 35%;
        pointer-events: none;

    }

}

@media screen and (max-width:1200px) {

    html {
        font-size: 55%;
    }

    .home_img img {

        bottom: 13.3%;
        right: 0;
        width: 35%;
        pointer-events: none;

    }

    .home .profession_container {
        height: 85.8rem;
    }

    .home .profession_container .profession_box {
        right: -12rem;
        height: 85.8rem;
    }

    .home .profession_container .overlay {
        right: -9rem;
    }

}

/* ---------------------------- */

@media screen and (max-width:1090px) {

    .home_img img {

        position: absolute;
        bottom: 13rem;
        right: 0;
        width: 40%;
        pointer-events: none;

    }

    .header {
        padding: 2rem 3%;
    }

    .home,
    .profession_container .profession_box {
        right: -22rem;
    }

    .home,
    .profession_container .overlay {
        right: -15rem;
    }

}



@media screen and (max-width:1050px) {

    .home .home_content {
        max-width: 50rem;
    }

    .home .profession_container .profession_box {
        right: -45rem;
    }

    .home .profession_container .overlay {
        right: -38rem;
    }

    .home_img img {
        display: none;
    }
}


@media screen and (max-width:768px) {

    .icons {
        display: block;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }



    .toggle {
        position: absolute;
        color: var(--primary-color);
        left: 88%;

    }

    #darkmode_icon {
        color: #0b061f;
    }


    #menu-icon {
        color: black;
    }

    #close-icon {
        color: black;
    }


    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        padding: .7rem 3%;
        background: var(--main-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }


    #check:checked~.navbar {
        height: 27rem;
        box-shadow: none;
        background: transparent;

    }

    .navbar a {
        color: var(--main-color);
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a.active {
        color: blue;
    }

    .navbar a.active::before {
        display: none;

    }

    .dark-mode .navbar a {
        color: #fff;
    }


    .navbar a:nth-child(2),
    .navbar a:nth-child(3),
    .navbar a:nth-child(4) {
        color: gray;

    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home_content h3 {
        font-size: 2.6rem;
    }

    .home_content h1 {
        font-size: 5rem;
    }

    .home_content .social_media a {
        margin: 2.5rem .7rem 3rem;
    }

    .home .profession_container {
        left: 0;
        width: 100%;
        height: 100%;

    }

    .home .profession_container .profession_box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession_box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession_box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession_box .profession:nth-child(1)i {
        margin: 0;
    }

    .home .profession_box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .profession_box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-120px, -450px);
    }

    .home .profession_box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .profession_container .overlay {
        position: fixed;
        top: 55rem;
        left: 0;
        right: 0;
        rotate: 90deg;
        border-width: 45rem;
        overflow-x: hidden;

    }

    .home .profession_box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }



}


@media screen and (max-width:730px) {


    .icons {
        padding: 0 .5rem;
    }


    .icons {
        margin-left: -1rem;

    }


    #darkmode_icon {
        color: #0b061f;
    }

    #menu-icon {
        color: black;
    }

    #close-icon {
        color: black;
    }


    
.navbar a {
    font-size: 1.5rem;
    margin-top: .2rem;

}

    .profession_container .overlay {
        position: fixed;
        top: 55rem;
        left: 0;
        right: 0;
        rotate: 90deg;
        border-width: 41rem;
        overflow-x: hidden;

    }


    .home .profession_box .circle {
        position: fixed;
        width: 580px;
        height: 580px;
        z-index: -1;
    }


}

@media screen and (max-width:680px) {

    html{
        font-size: 60%;
    }
    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
        /* padding-top: 20rem; */
    }

    .icons {
        padding: 0 1rem;
    }


    .icons {
        margin-left: -1rem;

    }

    #darkmode_icon {
        display: none;
    }


    #menu-icon {
        color: black;
    }

    #close-icon {
        color: black;
    }

    .navbar a {
        font-size: 1.5rem;
        margin-top: .2rem;
        padding: 0 .5rem;
    
    }

    .home .profession_container .profession{
        display: none;
    }


    .profession_container .overlay {
        display: none;

    }

    .home .profession_box .circle {
        display: none;
    }


}



@media screen and (max-width:460px) {


    .icons {
        padding: 0 1rem;
    }

    .icons {
        margin-left: -1rem;
    }

    .header {
        box-shadow: none;

    }


    #darkmode_icon {
        display: none;
    }


    #menu-icon {
        color: black;
        padding-right: 2rem;
    }

    #close-icon {
        color: black;
    }

    html {
        font-size: 50%;
    }

    .profession_container .overlay {
        display: none;
    }


    .home .profession_box .circle {
        display: none;
    }


    .home .profession {
        display: none;
    }

    .home {
        padding-top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}



@media screen and (max-width:340px) {

    #darkmode_icon {
        display: none;
    }

    .header {
        box-shadow: none;
    }

    .icons {
        margin-left: -1rem;

    }

}